.container {
  max-width: 500px;
  margin: 40px auto;
  text-align: center;
  font-family: Arial;
}

h1 {
  margin-bottom: 20px;
}

.input-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

.filters {
  margin: 15px 0;
}

.filters button {
  margin: 0 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 5px 0;
  background: #f3f3f3;
  border-radius: 5px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.delete {
  background: red;
  color: white;
  border: none;
}